footer {
  background-color: #333;
  color: white;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1 1 250px;
  margin: 20px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #f0c14b;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.newsletter input[type="email"] {
  padding: 10px;
  width: 70%;
  border: none;
  border-radius: 5px;
}

.newsletter button {
  padding: 10px 20px;
  background-color: #f0c14b;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.newsletter button:hover {
  background-color: #e6a400;
}


.footer-bottom {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #444;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
}



@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}



.pc-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.pc-item {
  width: 15%;
  text-align: center;
  text-wrap: wrap;
}

.pc-item img {
  height: 80px;
  max-width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}


.pc-item img:hover {
  transform: scale(1.05);
}


.mouse-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.mouse-item {
  width: 15%;
  text-align: center;
  text-wrap: wrap;
}

.mouse-item img {
  height: 80px;
  max-width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}


.mouse-item img:hover {
  transform: scale(1.05);
}